PORT=8080
APP_ENV=local

DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=github.com/AriaPutra01/go-commerce
DB_USERNAME=username
DB_PASSWORD=password
DB_SCHEMA=public
DB_MIGRATION_PATH=./db/migrations
DB_POOL_IDLE=10
DB_POOL_MAX=100
DB_POOL_LIFETIME=300

LOG_LEVEL=6
